# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
dash=2.13.0
dash-bootstrap-components=1.4.2
dash-core-components=2.0.0
dash-extensions=1.0.3
dash-html-components=2.0.0
dash-leaflet=1.0.8
dash-table=5.0.0
google-api-core=2.18.0
google-api-python-client=2.125.0
google-auth=2.23.2
google-auth-httplib2=0.2.0
google-auth-oauthlib=1.0.0
google-cloud-core=2.4.1
google-cloud-storage=2.16.0
google-crc32c=1.1.2
google-pasta=0.2.0
google-resumable-media=2.7.0
googleapis-common-protos=1.63.0
numpy=1.24.3
numpy-base=1.24.3
pandas=1.5.3
plotly=5.15.0
gunicorn
