# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
dash=2.13.0=pypi_0
dash-bootstrap-components=1.4.2=pypi_0
dash-core-components=2.0.0=pypi_0
dash-extensions=1.0.3=pypi_0
dash-html-components=2.0.0=pypi_0
dash-leaflet=1.0.8=pypi_0
dash-table=5.0.0=pypi_0
google-api-core=2.18.0=pyhd8ed1ab_0
google-api-python-client=2.125.0=pyhd8ed1ab_0
google-auth=2.23.2=pypi_0
google-auth-httplib2=0.2.0=pyhd8ed1ab_0
google-auth-oauthlib=1.0.0=pypi_0
google-cloud-core=2.4.1=pyhd8ed1ab_0
google-cloud-storage=2.16.0=pyhca7485f_0
google-crc32c=1.1.2=py38h554a69a_3
google-pasta=0.2.0=pypi_0
google-resumable-media=2.7.0=pyhd8ed1ab_0
googleapis-common-protos=1.63.0=pyhd8ed1ab_0
numpy=1.24.3=py38h79a8e48_1
numpy-base=1.24.3=py38h8a87ada_1
pandas=1.5.3=py38hf11a4ad_0
plotly=5.15.0=pypi_0
gunicorn
